* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* nerdfonts needed for some things */
  font-family: FontAwesome, Atkinson Hyperlegible, Fantasque SansM Nerd Font, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
  font-size: 13px;
  background: rgb(49, 104, 208);
  /* Edit gradient: https://colorzilla.com/gradient-editor/#3168d0+0,4993e6+6,4993e6+6,245dd7+20,2257d5+38,2257d5+38,245ddb+52,245ddb+69,2662df+90,1941a5+100 */
  background: linear-gradient(to bottom, #3168d0 0%, #4993e6 6%, #4993e6 6%, #245dd7 20%, #2257d5 38%, #2257d5 38%, #245ddb 52%, #245ddb 69%, #2662df 90%, #1941a5 100%);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

label {
  padding: 0 10px;
}

#battery.charging,
#battery.plugged {
  /* background-color: #26A65B; */
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  /* background-color: #eb4d4b; */
}

/* Windows XP Start */
#custom-start {
  /* Edit gradient: https://colorzilla.com/gradient-editor/#388037+0,90c090+4,90c090+8,3e993e+20,45a545+34,49b049+59,3cb03c+80,30713c+100 */
  background: linear-gradient(to bottom, #388037 0%, #90c090 4%, #90c090 8%, #3e993e 20%, #45a545 34%, #49b049 59%, #3cb03c 80%, #30713c 100%);

  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  border-radius: 0 12% 12% 0 / 0 50% 50% 0;
  box-shadow: inset -1px -1px 2px 1.5px darkgreen, 1.5px 1px 1.5px rgba(0, 200, 255, 0.3);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  border-left: 1.5px solid darkgreen;

  padding-left: 10px;
  padding-right: 20px;
}

/* Niri workspaces display */
#workspaces {
  padding: 0 0 0 10px;
}
#workspaces label {
  color: white;
  padding: 0 8px;
}
#workspaces button {
  padding: 0px;
  margin: 0px;
}

/* Windows XP Tray */
#tray,
#backlight,
#idle_inhibitor,
#clock {
  /* Edit gradient: https://colorzilla.com/gradient-editor/#095bc9+0,16adf0+3,19b9f3+7,1290e8+20,0f8eea+53,0ea0f1+80,1394e5+97,1394e5+97,095bc9+100 */
  background: linear-gradient(to bottom, #095bc9 0%, #16adf0 3%, #19b9f3 7%, #1290e8 20%, #0f8eea 53%, #0ea0f1 80%, #1394e5 97%, #1394e5 97%, #095bc9 100%);
}

#tray,
#backlight,
#idle_inhibitor {
  /* For consistency between labels and icons */
  text-shadow: none;
}

/* Last left of tray */
#pulseaudio {
  border-right: 2px outset rgba(64, 64, 96, 0.8);
}

/* First in tray */
#tray {
  padding-left: 10px;
  border-left: 2px solid rgba(0, 200, 255, 0.8)
}

#tray>.passive {
  -gtk-icon-effect: none;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  /* background-color: #eb4d4b; */
}

/* Start menu popup menu */
menu.start-menu menuitem {
  padding: 1ex 0;
}

menu.start-menu>menuitem {
  padding: 1em;
}

menu.start-menu {
  border-left: 1em solid blue;
}

menu.start-menu,
menu.start-menu menu {
  border-radius: 0;
  padding: 0;
}

/* Tooltips */
tooltip {
  background-color: #ffffe7;
  border: 1px solid black;
  border-radius: 5px;
  text-shadow: none;
}

tooltip label {
  color: black;
}
